<!-- Add your code here -->
<!DOCTYPE html>
<html>
<head>
    <title>Delete Book</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">Delete Book</h1>
    </div>
    <form action="/delete-book" method="post">
        <p>Are you sure you want to delete the book with the highest ID?</p>
        <button type="submit">Delete Book</button>
    </form>
</body>
</html>